
// UTILITIES
// ==========================================================

.header {
  color: white;
  font-size: 50px;
}

.section {
  height: 25vh;
  background: #B23EC6;
  color: white;
}

.scene {
  height: 100vh;
  width: 100vw;
  background: #EAEAEA;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


// REQUIRED STYLES
// ==========================================================

$frame-count: 9;
$offset-val: 100;

.viewer {
  // CSS ONLY EXAMPLE
  // animation: drink-coffee 1s steps($frame-count) infinite;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  width: 100%;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/doodle-sprite.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
}

@for $i from 1 through $frame-count {
  .viewer.frame#{$i} {
    background-position: -(($i * $offset-val) * 2) + px 50%;
  }
}

// CSS ONLY EXAMPLE
@keyframes drink-coffee {
  to {
    background-position: -1800px 50%;
  }
}
