
.header {
  color: white;
  font-size: 50px;
}

.section {
  height: 25vh;
  background: #B23EC6;
  color: white;
}

.scene {
  height: 100vh;
  width: 100vw;
  background: #EAEAEA;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.container {
  padding: 50px;
  background-color: ghostwhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plane-path {
  height: 400px;
  width: 795px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;

  .plan {
    top: -5%;
    left: 0;
    transform: translateX(-35px);
    position: absolute;
    transition: all 300ms;
  }

}


// REQUIRED STYLES
// ==========================================================

$frame-count: 40;
$frame-width: 10;
$frame-height: 5;
$offset-val: 5;


//create frame 1 -> 10
@for $i from 1 through $frame-width {
  .viewer {
    &.plan {
      &.frame#{$i} {
        left: (($i * $offset-val) * 2%);
      }
    }
  }
}

//create frame 10 -> 15
@for $i from 1 through $frame-height {
  .viewer {
    &.plan {
      @if ($i + 10) == 11 {
        &.frame#{$i + 10} {
          transform: rotate(90deg);
          top: (($i * $offset-val) * 2%);

          left: 97%;
        }
      } @else if ($i + 10) < 15 {
        &.frame#{$i + 10} {
          top: (($i * $offset-val) * 2%);
        }
      } @else if ($i + 10) == 15 {
        &.frame#{$i + 10} {
          top: 43%;
          transform: rotateY(180deg);
        }
      }

    }
  }
}

//create frame 15 -> 25
@for $i from 1 through $frame-width {
  .viewer {
    &.plan {
      &.frame#{$i + 15} {
        left: 100% - (($i * $offset-val) * 2%);
      }
    }
  }
}


//create frame 25 -> 30
@for $i from 1 through $frame-height {
  .viewer {
    &.plan {

      @if ($i + 25) == 26 {
        &.frame#{$i + 25} {
          transform: rotate(90deg);
          left: -3%;
        }
      } @else if ($i + 25) < 30 {
        &.frame#{$i + 25} {
          top: 43% + (($i * $offset-val) * 2%);
        }
      } @else if ($i + 25) == 30 {
        &.frame#{$i + 25} {
          top: 92%;
          transform: rotateY(0);
        }
      }

    }
  }
}

//create frame 30 -> 40
@for $i from 1 through $frame-width {
  .viewer {
    &.plan {
      &.frame#{$i + 30} {
        left: ((($i) * $offset-val) * 2%);
      }
    }
  }

}

